@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.hover-underline-animation {
		display: inline-block;
		position: relative;
	}
	.hover-underline-animation::after {
		content: "";
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: rgb(5 150 105);
		opacity: 0.5;
		transform-origin: bottom right;
		transition: transform 0.5s ease-out;
	}

	.hover-underline-animation:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}

.top-banner-visible {
	padding-top: 35px; /* Adjust this value to match the height of your TopBanner */
}
